<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lista de Operaciones</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" th:href="@{/}">Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/operaciones}">Operaciones <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Opciones
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:href="@{/operaciones/registrar_operacion}">Registrar Operación</a>
						<a class="dropdown-item" th:href="@{/operaciones/lista_operaciones}">Lista de Operaciones</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<h2>Lista de Operaciones</h2>
		<a th:href="@{/operaciones/registrar_operacion}" class="btn btn-primary">Registrar Operación</a>

		<table class="table mt-4">
			<thead>
				<tr>
					<th>ID</th>
					<th>Tipo de Operación</th>
					<th>Monto</th>
					<th>Fecha y Hora</th>
					<th>Cuenta Origen</th>
					<th>Cuenta Destino</th>
					<th>Usuario</th>
					<th>Estado</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="operacion : ${lista_operaciones}">
					<td th:text="${operacion.operacion_id}"></td>
					<td th:text="${operacion.tipoOperacion.descripcion}"></td>
					<td th:text="${operacion.monto}"></td>
					<td th:text="${operacion.fechaHora}"></td>
					<td th:text="${operacion.cuentaOrigen.numeroCuenta}"></td>
					<td th:text="${operacion.cuentaDestino != null ? operacion.cuentaDestino.numeroCuenta : 'N/A'}">
					</td>
					<td th:text="${operacion.usuario.correo}"></td>
					<td th:text="${operacion.estado}"></td>
					<td>
						<a th:href="@{/operaciones/detalle_operacion/{id}(id=${operacion.operacion_id})}"
							class="btn btn-info">Ver</a> |
						<a th:href="@{/operaciones/editar_operacion/{id}(id=${operacion.operacion_id})}"
							class="btn btn-warning">Editar</a> |
						<a th:href="@{/operaciones/delete_operacion/{id}(id=${operacion.operacion_id})}"
							class="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>