<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tipos de Tarjetas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Lista de Tipos de Tarjetas</h2>

        <a th:href="@{/tipotarjeta/registrar_tipotarjeta}" class="btn btn-primary">Registrar Tipo de Tarjeta</a>
        
        <table class="table mt-4">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                    <th>Límite de Crédito</th>
                    <th>Intereses</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tipo : ${lista_tipotarjetas}">
                    <td th:text="${tipo.tipoTarjetaId}"></td>
                    <td th:text="${tipo.descripcion}"></td>
                    <td th:text="${tipo.limiteCredito}"></td>
                    <td th:text="${tipo.intereses}"></td>
                    <td>
                        <a th:href="@{/tipotarjeta/detalle_tipotarjeta/{id}(id=${tipo.tipoTarjetaId})}" class="btn btn-info">Ver</a> |
                        <a th:href="@{/tipotarjeta/editar_tipotarjeta/{id}(id=${tipo.tipoTarjetaId})}" class="btn btn-warning">Editar</a> |
                        <a th:href="@{/tipotarjeta/delete_tipotarjeta/{id}(id=${tipo.tipoTarjetaId})}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
